/* -------------
	#comments
   ------------- */
.c_comments {
  padding: 30px 2%; }
  .c_comments .c_comments_cont > a img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden; }
  .c_comments .c_comments_cont .c_comments_details > h4 {
    margin-top: 5px;
    font-weight: 700;
    color: #0099CC; }
  .c_comments .c_comments_cont .c_comments_details > p {
    margin: 3px !important; }
  .c_comments .c_comments_cont .c_comments_details > div {
    margin-top: 3px; }
    .c_comments .c_comments_cont .c_comments_details > div i {
      color: #f00; }

/* -------------
	#image list
   ------------- */
.c_decoration {
  padding: 30px 2%; }
  .c_decoration .c_decoration_detail {
    padding-left: 2%; }
    .c_decoration .c_decoration_detail div {
      margin-top: 5px; }
    .c_decoration .c_decoration_detail > div:last-child {
      margin-top: 8px; }
    .c_decoration .c_decoration_detail > div:nth-child(3) {
      color: #fff; }
      .c_decoration .c_decoration_detail > div:nth-child(3) div {
        text-align: center;
        margin-right: 1%;
        background: #999; }
      .c_decoration .c_decoration_detail > div:nth-child(3) div:first-child {
        color: #000;
        text-align: left;
        background: none; }
      .c_decoration .c_decoration_detail > div:nth-child(3) div:nth-child(2) {
        background: #0f0; }
        .c_decoration .c_decoration_detail > div:nth-child(3) div:nth-child(2):before {
          z-index: 1;
          content: "";
          position: absolute;
          top: 0;
          right: 100%;
          width: 0px;
          height: 0px;
          border: 10px solid transparent;
          border-right-color: #0f0; }
      .c_decoration .c_decoration_detail > div:nth-child(3) div:last-child:before {
        z-index: 1;
        content: "";
        position: absolute;
        top: 0;
        left: 100%;
        width: 0px;
        height: 0px;
        border: 10px solid transparent;
        border-left-color: #999; }

.c_member {
  padding: 30px 2%; }
  .c_member .c_member_cont > a img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden; }
  .c_member .c_member_cont .c_member_details {
    position: relative;
    padding-left: 2%; }
    .c_member .c_member_cont .c_member_details > h4 {
      margin-top: 15px;
      font-weight: 700;
      color: #0099CC; }
    .c_member .c_member_cont .c_member_details p {
      margin: 3px !important; }
    .c_member .c_member_cont .c_member_details button {
      position: absolute;
      right: 5%;
      top: 40%; }

.c_report_details table {
  width: 80%;
  margin: 0 auto; }
  .c_report_details table .tabletitle {
    font-size: 20px;
    text-align: center; }
  .c_report_details table .trtitle {
    font-size: 16px;
    text-align: center; }
  .c_report_details table .leftmenu {
    width: 2%; }

.c_blueprints {
  padding: 50px 2% 0; }
  .c_blueprints .c_blueprints_details {
    margin-left: 2%; }
  .c_blueprints > div {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #eee; }
    .c_blueprints > div h3 {
      font-size: 18px;
      color: #333; }
    .c_blueprints > div > div > div {
      margin-bottom: 20px; }
