<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Bootstrap Google Plus Theme</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


        <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
        <link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

        <script src="//cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>    
        <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  

        <script src="//cdn.bootcss.com/angular.js/1.5.8/angular.js"></script>        
        <script type="text/javascript" src="js/angular-route.min.js"></script>
      
        <script src="//cdn.bootcss.com/ng-dialog/0.6.4/js/ngDialog.min.js"></script>
        <link href="//cdn.bootcss.com/ng-dialog/0.6.4/css/ngDialog.min.css" rel="stylesheet">
        <link href="//cdn.bootcss.com/ng-dialog/0.6.4/css/ngDialog-theme-default.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/ngDialog/ngDialog.css">
  
        <script type="text/javascript" src="js/controller.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="css/styles.css" rel="stylesheet">

  </head>
  <body ng-app="fs" ng-controller="init" data-ng-init="load()">
    <header class="navbar navbar-static-top bs-docs-nav navbar-fixed-top">
        <div class="col-md-2">
            <h2 class="logo">
            <img src="http://keenthemes.com/preview/conquer/assets/img/logo.png"></h2>
        </div>
        <div class="col-md-10">
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            
              <ul class="nav navbar-nav">
                <li >
                    <a name="index">首页</a>
                </li>              
                <li ng-repeat="item in navTitle">
                    <a name="{{item.id}}">{{item.text}}</a>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="" ><i class="fa fa-bell" aria-hidden="true"></i>任务提示</a></li>
                <li><a href="" ><i class="fa fa-calendar-check-o" aria-hidden="true"></i>系统信息</a></li>
                <li><a href="" ><i class="fa fa-cog" aria-hidden="true"></i>个人管理</a></li>
              </ul>
            </nav>                           
        </div>
    </header>
    <div class="dashboard container-fluid "  >
        <div class="row" >
            <div class="col-md-2 sideBar"> 
<!--                 <div id="test">
                    <div class="panel panel-default" ng-repeat="n in navTitle">
                        
                        
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#test" 
                                       href="#{{n.id}}">
                                        {{n.text}}
                                    </a>
                                </h4>
                            </div>
                            <div id="{{n.id}}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    
                                </div>
                            </div>
                        

                    </div>                    
                </div >-->

                <div ng-repeat="n in navTitle" class="sideBarTab catId_{{n.id}}">

                    <div id="{{n.id}}">
                        
                        <div class="panel panel-default" ng-repeat="a in n.children">
                            
                            <div class="panel-heading">
                                <h4 class="panel-title" ng-if="a.hasChildren">
                                    <a data-toggle="collapse" data-parent="#{{n.id}}" 
                                       href="#{{a.id}}">
                                        {{a.text}}
                                    </a>
                                </h4>
                                <h4 class="panel-title" ng-if="!a.hasChildren">
                                    <a 
                                       href="#{{a.id}}">
                                        {{a.text}}
                                    </a>
                                </h4>                                
                            </div> 
                            <div id="{{a.id}}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li ng-repeat="b in a.children">
                                            <a href="#/{{b.id}}">{{b.text}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>      
                            <div class="grayLine"></div>                                                      
                        </div>                       
                    

                </div>
<!--                 <div ng-repeat="n in navTitle" data-type="{{n.id}}">

                    <ul class="list-group" >
                        <li  ng-repeat="a in n.children" >
                        
                            <h4 ng-if="a.hasChildren" >
                                <a class="list-group-item" data-toggle="collapse" data-target="#{{a.id}}" data-parent="#test">{{a.text}}</a>
                            </h4>
                            <h4 ng-if="!a.hasChildren"><a >{{a.text}}</a></h4>
                               
                            <div id="{{a.id}}" class="panel-collapse" >
                              <ul role="menu" class="list-group-item-menu">
                                <li class="list-group-item">
                                  <div class="list-group-item-wrapper">
                                    <a href="#/{{b.id}}" ng-repeat="b in a.children">{{b.text}}</a>
                                  </div>
                                </li>
                              </ul>
                            </div>                            
                        </li>    
                    </ul>
                </div> -->

           </div>
       </div>
       <div ng-view class="col-md-10 main">
           
       </div>
    </div>
  </body>
</html>