@import "../bootstrap/_variables.scss";

// dashboard page
.dashboard {
	padding: 15px auto ;
	// margin-top:50px;
	height: 100%;
	.table {
		td {
			padding: 15px 8px;
		}
		tr {	
			&:first-child{
				background: inherit;
			}
			td {
				border-bottom: 1px solid #eef4f7;
				&:first-child {
					text-align: center;
				}
				&:last-child {
					vertical-align: middle;
				}
			}
			th {
				&:first-child {
					text-align: center;
				}
			}
			&:nth-child(odd) {
				background: none;
			}
		}
	}
	.mainSection {

	}
	nav.navigation {
		text-align: right;
	}
	.quickSearch {
		margin-bottom: 15px;
		font-size: 12px;
		input {
			// border:1px solid #D9D9D9;
			// height: 30px;
		}
		select {
			// border: 1px solid #D9D9D9;
			// width:100px;
			// height: 30px;
		}

		label {
			padding:0 15px;
			&:first-child {
				// padding-left:0;
			}
		}
		& > label {
			padding-left: 0;
		}
		button {
			// text-align: right;
			// float: right;
		}
	}
	.row {
		height: 100%;
	}

}

// top nav bar

.navbar-collapse { 
	// background: $brand-primary;
	.nav {
		a {
			color: #eee;
			box-sizing: border-box;
			height: 50px;
			&:hover {
				background: #4f4f4f;
				color:#fff;
				cursor: pointer;
			}	
			&.active {
				background: #4f4f4f;
			}	
		}
		li {
			box-sizing: border-box;
		}
	}
}


.navbar { 
	background: #242527;
	margin-bottom: 0;
	border:0;
	nav { 

		// height: 40px;
		.nav {				
			a {
				padding:0 15px;
				line-height: 50px;	
			}
			li {
				&.active {
					a {
						// background: #e7e7e7;
					}
				}
			}	
		}
	}
	.logo {
		margin: 0;
		padding: 0;
		line-height: 50px;
		font-family: Microsoft Yahei;
	}	
} 

// left side bar
.sideBar {
	// border-right: 1px solid #eee;
	background: #35363a;
	padding: 50px 0 0;
	height: 100%;
	width: 215px;
	position: relative;
	z-index:1;
	h2 {
		font-size:14px;
		margin: 0;
		padding: 0;
	}

	.sideBarTab {
		// display: none;
		.panel {
			border: 0 ;
			margin:0;
			background: none;
			.panel-heading {
				background: none;
				border-bottom: none;
				padding: 0;
				&:hover {
					background: #27272B;
				}
				.fa {
					float: right;
				}
			}
			.panel-body {
				padding: 5px 0;
				ul {
					padding:0;
					margin: 0;
					a {
						color: #cecfd3;
						padding: 5px 5px 5px 35px;
						display: block;
					}
				}
			}
			// .panel-collapse {
				// &.in {
					.panel-body {
						a {
							&:hover {
								background: #414247;
								cursor: pointer;
							}
							&.active {
								background: #414247;
							}
						}
					}
				// }
			// }
		}
	}
	h4 {
		a {
			display: block;
			color: #cecfd3;
			font-size:14px;
			padding:10px 15px;
		}
		&.panel-title {
			a[aria-expanded=true] {
				background: #27272B;
			}
		}
	}
}

.grayLine {
	border-bottom: 1px solid #414247;
}


// main section

.main {
	height: 100%;
	width: 100%;
	padding-left:215px;
	padding-top: 50px;
	box-sizing: border-box;
	float: none;
	.breadcrumb {
		font-size: 12px;

	}	
	& > div {
		padding: 15px 0;
	}
	// bread crumb
	.breadcrumb {
		margin-right: -15px;
		background: #f5f5f5;
		line-height: 20px;
		 & > li {
		 	font-size: 14px;
			& + li {
				&:before {
					content: " ";
					padding: 0;
				}
				.fa {
					&:before {
						padding: 0 10px;
					}
				}
			}
		 }
		 li:first-child {
		 	.fa {
		 		&:before {
		 			padding: 0 10px 0 0 ;
		 		}
		 	}
		 }
	}
	.backBtnGroup {
		text-align: right;
		.backBtn {
			margin-bottom: 20px;
			font-size: 13px;
		}		
		.fa {
			&:before {
				margin-right: 5px;
			}			
		}
	}
	.alert {
		margin-left: 15px;
	}		
}

// popup
.addProjectPop {
	&.ngdialog-theme-plain {
		.ngdialog-content {
			width: 600px;
		}
	}
	// add project 
	#addProForm {
		margin: 15px;
	}
}

// back button


a {
	&:hover {
		text-decoration: none;
	}
	&.disabled {
		pointer-events:none;
		background: #f5f5f5 !important;
	}

}

// operation button group

.operationGroup {
	.fa {
		margin-right:5px;
	}
}


// overlay 

.overwrap {
	width: 100%;
	display: none;
	height: 100%;
	background: rgba(0,0,0,0.2);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
	div .fa {
		position: absolute;
		z-index: 2001;
		color: #fff;
		top: 0;
		left:0;
		right:0;
		bottom:0;
		margin: auto;
		// font-size:
		width: 50px;
		height: 50px;
		font-size: 50px;
	}
}

.pagination {
	a {
		&:first-child {
			border-radius: 15px !important;
		}
	}
}