
// base

* {
	border:0;
	padding:0;
	margin: 0;
	border-radius: 0;
	// -webkit-appearance: none;	
	font-family: Arial;
	list-style:none;
}
html,body {
	font-size:10px;
}

$colorPrimary: #343c48;
$colorThirdary: #ebebeb;
$colorSecondary: #4f4f4f;
$colorBlue: #1155CC;

// bootstrap 

$brand-primary: #428bca;
$brand-success: #5cb85c;
$brand-info:    #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger:  #d9534f;
// $gray-darker:  lighten(#000, 13.5%); // #222
// $gray-dark:    lighten(#000, 20%);   // #333
// $gray:         lighten(#000, 33.5%); // #555
// $gray-light:   lighten(#000, 46.7%); // #777
// $gray-lighter: lighten(#000, 93.5%); // #eee