
<div class="col-md-12 memberSection">

	<ol class="breadcrumb">
		<li>
		<a href="#">
		<i class="fa fa-home" aria-hidden="true">装修管理</i>
		</a>
		</li>
		<li>
		<a href="#">
		<i class="fa fa-angle-right" aria-hidden="true">装修配置</i>
		</a>
		</li>
		<li class="active">
		<i class="fa fa-angle-right" aria-hidden="true">工序配置</i>
		</li>
	</ol>

	<!-- -->

	<div class="quickSearch">
		<form class="form-horizontal">
			<div class="form-group">
				
				<div class="col-md-8">
					<label class="col-md-1 control-label">业主姓名</label>

					<div class="col-md-3">

						<input type="text" name="" class="form-control">

					</div>

					<label  class="col-md-1 control-label">手机号码</label>
					
					<div class="col-md-3">

						<input type="text" name=""  class="form-control">

					</div>

					<label  class="col-md-1 control-label">所在区域</label>

					<div class="col-md-3">

						<input type="text" name=""  class="form-control">			
					</div>				
				</div>

				<div class="col-md-4 ">

				<button class="btn btn-success">查询</button>
				<button class="btn btn-default">重置</button>			
				</div>


			</div>

		</form>
	</div>

	<div class="listSection">

		<table class="table table-striped table-hover">
			<caption>
				<div class="alert alert-success" role="alert">更新了30条</div>
			</caption>
			<thead>
				<tr>
					<th>业主姓名</th>
					<th>性别</th>
					<th>手机号码</th>
					<th>所在区域</th>
					<th>来源</th>
					<th>注册时间</th>
					<th align="center" style="text-align: center">操作</th>

				</tr>
			</thead>

			<tbody>
				<tr ng-repeat = "item in data">
					<td>{{item.name}}</td>
					<td>Male</td>
					<td>13911442668</td>
					<td>北京市</td>
					<td>微信</td>
					<td>2016-08-01 15:32:30</td>
					<td align="center">
						<a href="" class="btn btn-default">查看</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>	

</div>