
<div class="memberInfo">
	
	<div class="row">
		
		<div class="col-md-3">
			<img src="http://placehold.it/150x150">
		</div>

		<div class="col-md-9">
			<p>
				<span>
					<b>姓名: </b>涨价
				</span>

				<span>
					<b>会员类型:</b> 项目经理
				</span>		

				<span>
					<b>会员来源:</b> 生命屋AAP注册
				</span>
			</p>	
			<p>
				<span>
					<b>证件号:</b> 130725198412312123
				</span>

				<span>
					<b>所在区域:</b> 北京
				</span>
			</p>
			<p>
				
				<span><b>地址:</b> bejingchaoyang</span>
			</p>
			<p>
				<span>注册时间: 2015-45112312323</span>
				<span>审核状态: 未审核</span>
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			
			<h5>工作履历</h5>
			<p>项目经理经验一年，曾经经历过多个装修项目，并在锋尚培训并顺利毕业</p>

			<h5>手持身份照</h5>
			<p>
				<img src="http://placehold.it/150x100">
				<img src="http://placehold.it/150x100">
				<img src="http://placehold.it/150x100">
				<img src="http://placehold.it/150x100">
				<img src="http://placehold.it/150x100">
			</p>
			
			<h5>证件类型</h5>
			<p>
				<img src="http://placehold.it/150x100">
				<img src="http://placehold.it/150x100">
				<img src="http://placehold.it/150x100">
				<img src="http://placehold.it/150x100">
				<img src="http://placehold.it/150x100">
			</p>

			<button class="btn btn-primary">
				审核通过
			</button>
			<button class="btn btn-default">
				审核拒绝
			</button>
		</div>
	</div>

</div>