
<ul class="pagination pager">
	<li >
		<a
		class="previous form-control" 
		ng-click = "pageTurn('last')"
		ng-class="{true: '', false: 'disabled'}[pager.prev]" 
		 >上一页 {{pager.prev}}
		</a>
		<a 
		class="next form-control" 
		ng-class="{true: '', false: 'disabled'}[pager.next]" 
		ng-click = "pageTurn('next')"
		>下一页 {{pager.next}}
		</a>
	</li> 

	<li class="pagerInfo">当前第<b>{{pager.pageNumber}}</b>页</li>

	<li class="pagerInfo">总共<b>{{pager.pageCount}}</b>页</li>

	<li>
		<b ng-repeat="i in pager.pageCount">{{i}}</b>
		<select 
		
		class="pageSelect form-control" 
		
		id="pageSelect"
		
		ng-model="pager.pageNumber"

		ng-change = "pageNumberSelect(pager.pageNumber)"
		>
		
		<option  ng-repeat="item in pager.numList" value="{{item.n1}}" >{{item.n1}}</option>

		</select>

	</li>

	<li>	{{pager.pageSize}}
		<select class="perPage form-control" id="perPage" ng-model="pager.pageSize" ng-change="pageCountSelect(pager.pageSize)" >

			<option value='20'>每页20条</option>
			<option value='40'>每页40条</option>
			<option value='60'>每页60条</option>
			<option value='80'>每页80条</option>
			<option value='100'>每页100条</option>
			
		</select>

	</li>
</ul>

