
<div class="col-md-12 productSection">

	<ol class="breadcrumb">
		<li>
			<a href="#">
			<i class="fa fa-home" aria-hidden="true">装修管理</i>
			</a>
		</li>
		<li>
			<a href="#">
			<i class="fa fa-angle-right" aria-hidden="true">商品库</i>
			</a>
		</li>
	</ol>

	<!-- -->
	
	<div class="">

		<div class="">

			<ul class="nav nav-pills" role="tablist">
				
				<li  class="active">
					<a data-id="item.ddKey" ng-click="labelSwitch('all', $event)">全部</a>
				</li>

				<li ng-repeat="item in data.label.datas">
					<a data-id="item.ddKey" ng-click="labelSwitch(item.ddKey, $event)">{{item.ddValue}}
					</a>
				</li>
	
			</ul>	


			<component-pagination 

			pagecount="{{data.list.pageCount}}"
			
			pagenumber = "{{data.list.pageNumber}}"

			pagesize = "{{data.list.pageSize}}"
			
			url = '{{init.url}}'

			data = "labelType:{{init.labelType}},name:{{init.name}},materialCode:{{init.materialCode}}">
			
			</component-pagination>
			
		</div>
		
		<div class="mainContent">
			<div class="col-md-3 subleftSideMenu">
				<div class="subNav">
					<h2>商品分类
					<i class="fa fa-plus" aria-hidden="true" id="addCategory"></i></h2>
					
					<ul >
						<li ng-repeat=" item in data.category.datas" 
						data-id = "{{item.pid}} - {{item.ddKey}}" class="stretchOff" > 
						<div ng-click="goodsCateStretch(item.level,  item.hasSubDict, $event)" >
							<i class="fa fa-angle-right"
							 ></i>
							{{item.ddValue}}
							<p class="operation">
								<i class="fa fa-plus-square"></i>
								<i class="fa fa-edit"></i>
								<i class="fa fa-close" aria-hidden="true"></i>
							</p>
						</div>							
							<ul class="subCate" >
								<li ng-repeat="i in item.subDictList" class="stretchOff" >
									<div  ng-click="goodsCateStretch(i.level, i.hasSubDict, $event) ">
									
									<i class="fa" 
									ng-class="{true:'fa-angle-right', false: ''}[i.hasSubDict]"></i>
									{{i.ddValue}} 
										<p class="operation">
											<i class="fa fa-plus-square"></i>
											<i class="fa fa-edit"></i>
											<i class="fa fa-close" aria-hidden="true"></i>
										</p>								
									 </div>
									<ul class="subCate" >
										<li ng-repeat="b in i.subDictList" class="stretchOff">
											<div ng-click="goodsCateStretch(b.level, b.hasSubDict, $event) " >
												<i class="fa "></i>
												{{b.ddValue}}
												<p class="operation">
													<i class="fa fa-plus-square"></i>
													<i class="fa fa-edit"></i>
													<i class="fa fa-close" aria-hidden="true"></i>
												</p>												
											</div>
										</li>
										
									</ul>
								 </li>

							</ul>
						</li>
					</ul>
				</div>
			</div>
	
			<div class="col-md-9 productList">
				
				<div class="row quickSearch">
					<form class="form form-inline">
						<div class="form-group">
							<label class="label-control">
								商品名称
							</label>
							<input type="text" name="" ng-model="init.name" class="form-control">
						</div>
						<div class="form-group">
							<label class="label-control">
								商品编号
							</label>
							<input type="text" ng-model="init.materialCode" class="form-control" name="">
						</div>
						
						<input type="button" name="" value="查询" class="btn btn-primary" ng-click="quickSearch(init.name, init.materialCode)">
						
						<input type="reset" value="重置" class="btn btn-default" name="" ng-click="resetQuickSearchVal()">
						<input type="button" name="" value="添加商品" class="btn btn-info" ng-click="productsAdd()">
					</form>
					
					
				</div>

				<table class="table table-striped table-hover">

					<thead>

						<tr>
							<th>序号</th>

							<th>商品名称</th>

							<th>商品品牌</th>

							<th>商品编号</th>

							<th style="text-align: center">单位</th>

							<th style="text-align: center">单价(RMB)</th>

							<th style="text-align: right"><span>操作</span></th>

						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="item in data.list.datas">

							<td>{{item.number}}</td>

							<td>{{item.name}}</td>

							<td>{{item.brandName}}</td>

							<td>{{item.materialCode}}</td>

							<td align="center">{{item.unit}}</td>

							<td align="center">{{item.price}}</td>

							<td align="right">
								<a ng-click="productsDetails(item.materialConfigurationlId)" class="btn btn-default btn-sm">查看</a>
							</td>

						</tr>
					</tbody>
				</table>
				<pagination></pagination>
			</div>

		</div>
	</div>

	
	<div ui-view="prductList">
		
	</div>

</div>