<div class="providerMng">
<!--  -->
    <ol class="breadcrumb">
      <li>
      <a href="#">
      <i class="fa fa-home" aria-hidden="true">供应商管理</i>
      </a>
      </li>
      <li class="active">
      <a href="#">
      <i class="fa fa-angle-right" aria-hidden="true">供应商管理</i>
      </a>
      </li>
    </ol>

	<div class="quickSearch">
		<form class="form form-inline" action="form_action.asp" method="get">
			
			<div class="form-group">
				<label>供应商名称</label>
				<input type="text" name="" class="form-control">
			</div>

			<div class="form-group">
				<label>联系人姓名</label>
				<input type="text" name="" class="form-control">
			</div>

			<div class="form-group">
				<label>联系电话</label>
				<input type="text" name="" class="form-control">
			</div>

			<div class="form-group">
				
				<label>供货类型</label>
				<select  name="" class="form-control">
					<option ng-repeat="item in provider.proType.data">{{item}}</option>
				</select>

			</div>

			<div class="form-group">
				<button class="btn btn-primary">查询</button>
				<button class="btn btn-default">重置</button>
				<button class="btn btn-warning">添加供应商</button>
			</div>
		</form>
	</div>

	<div class="providerList">
		<table class="table table-hover table-striped">
			
			<thead>
				<tr>
					<th>供应商名称</th>
					<th>登录名</th>
					<th>联系人</th>
					<th>联系电话</th>
					<th>供货类型</th>
					<th>所属区域</th>
					<th>操作</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>重庆飘瑞斯特贸易有限公司</td>
					<td>CQ_PRST</td>
					<td>程楠</td>
					<td>13548967845</td>
					<td>主材</td>
					<td>重庆</td>
					<td>
						<a class="btn btn-primary">查看</a>
					</td>

				</tr>

				<tr>
					<td>运城市德润天成家居销售有限公司</td>
					<td>YC_DRTC</td>
					<td>吴家</td>
					<td>13648975641</td>
					<td>主材</td>
					<td>运城</td>
					<td>
						<a class="btn btn-primary">查看</a>
					</td>

				</tr>
				<tr>
					<td>重庆新天意工艺石材有限公司</td>
					<td>CQ_XTYGY</td>
					<td>赵丽</td>
					<td>13879564289</td>
					<td>主材</td>
					<td>重庆</td>
					<td>
						<a class="btn btn-primary">查看</a>
					</td>

				</tr>

				<tr>
					<td>霍曼（北京）贸易有限公司</td>
					<td>YC_SMK</td>
					<td>程楠</td>
					<td>13548967845</td>
					<td>主材</td>
					<td>运城</td>
					<td>
						<a class="btn btn-primary">查看</a>
					</td>

				</tr>
				<tr>
					<td>斯米克</td>
					<td>CQ_PRST</td>
					<td>吴家</td>
					<td>13648975641</td>
					<td>主材</td>
					<td>重庆</td>
					<td>
						<a class="btn btn-primary">查看</a>
					</td>

				</tr>

				<tr>
					<td>叮蓝科技有限公司</td>
					<td>CQ_DLKJ</td>
					<td>赵丽</td>
					<td>13879564289</td>
					<td>主材</td>
					<td>运城</td>
					<td>
						<a class="btn btn-primary">查看</a>
					</td>

				</tr>											
			</tbody>
		</table>
	</div>
</div>

