<div class="providerMng">
<!--  -->
    <ol class="breadcrumb">
      <li>
      <a href="#">
      <i class="fa fa-home" aria-hidden="true">供应商管理</i>
      </a>
      </li>
      <li class="active">
      <a href="#">
      <i class="fa fa-angle-right" aria-hidden="true">退换货订单管理</i>
      </a>
      </li>
    </ol>

	<div class="quickSearch">
		<form class="form form-inline">
			
			<div class="form-group">
				<label>退换货订单号</label>
				<input type="text" name="" class="form-control">
			</div>

			<div class="form-group">
				<label>订单号</label>
				<input type="text" name="" class="form-control">
			</div>

			<div class="form-group">
				<label>退换货时间</label>

				<input type="text" name="" class="form-control" id="datePick">

			</div>

			<div class="form-group">
				
				<label>订单状态：</label>
				<select  name="" class="form-control">
					<option ng-repeat="item in provider.proType.data">{{item}}</option>
				</select>

			</div>

			<div class="form-group">
				<button class="btn btn-primary">查询</button>
				<button class="btn btn-default">重置</button>
			</div>
		</form>
	</div>

	<div class="providerList">
		<table class="table table-hover table-striped">
			
			<thead>
				<tr>
					<th>退换货订单号</th>
					<th>订单号</th>
					<th>退货时间</th>
					<th>退货人</th>
					<th>退换货订单状态</th>
					<th>所属区域</th>
					<th>供应商</th>
					<th>操作</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>SMW48575468959</td>
					<td>SMWTHH85425155</td>
					<td>2016-08-10 09：45：10</td>
					<td>张佳</td>
					<td>未完成</td>
					<td>重庆</td>
					<td>重庆飘瑞斯特贸易有限公司</td>
					<td>
						<a class="btn btn-primary">查看</a>
					</td>

				</tr>

				<tr>
					<td>SMW48575468960</td>
					<td>SMWTHH85425156</td>
					<td>2016-08-10 09：45：10</td>
					<td>张佳</td>
					<td>未完成</td>
					<td>重庆</td>
					<td>重庆飘瑞斯特贸易有限公司</td>

					<td>
						<a class="btn btn-primary">查看</a>
					</td>

				</tr>
				<tr>
					<td>SMW48575468961</td>
					<td>SMWTHH85425157</td>
					<td>2016-08-10 09：45：10</td>
					<td>张佳</td>
					<td>已完成</td>
					<td>重庆</td>
					<td>重庆飘瑞斯特贸易有限公司</td>
					<td>
						<a class="btn btn-primary">查看</a>
					</td>

				</tr>

				<tr>
					<td>SMW48575468962</td>
					<td>SMWTHH85425158</td>
					<td>2016-08-10 09：45：10</td>
					<td>张佳</td>
					<td>已完成</td>
					<td>重庆</td>
					<td>重庆飘瑞斯特贸易有限公司</td>
					<td>
						<a class="btn btn-primary">查看</a>
					</td>

				</tr>										
			</tbody>
		</table>
	</div>
</div>

