<section class="" >

	<div class="sideBarTab" ng-repeat="item in currentSubCat">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title"><a ui-sref-active="active" ui-sref="dashboard.{{item.id}}">{{item.text}}</a></h4>
			</div>	

			<div class="" ng-if="item.hasChildren">	
				<div class="panel-body">
					<ul>
						<li ng-repeat="i in item.children">
							
							<a ui-sref-active="active" ui-sref="dashboard.{{i.id}}">{{i.text}}</a>
						</li>

						
					</ul>
				</div>		
			</div>
			<div class="grayLine"></div> 					
		</div>

	</div>	
</section>