    <div class="col-md-12 decoration_config" class="row" ng-controller="decoration_config" >
        <ol class="breadcrumb">
          <li>
          <a href="#">
          <i class="fa fa-home" aria-hidden="true">装修管理</i>
          </a>
          </li>
          <li>
          <a href="#">
          <i class="fa fa-angle-right" aria-hidden="true">装修配置</i>
          </a>
          </li>
          <li class="active">
          <i class="fa fa-angle-right" aria-hidden="true">工序配置</i>
          </li>
        </ol>
        <div class="alert alert-danger" role="alert" ng-if="errorMsg">
          {{errorMsg}}
        </div>        
        <div class="container-fluid" ng-show="errMsgShow" >
            <form class="quickSearch form-inline">
                <div class="form-group">
                    <label>工序名称</label>
                    <input type="text" ng-model="project_name" class="form-control" name="">
                </div>
                <div class="form-group">
                    <label>工种</label>
                    <select class="form-control" ng-model="construction_trades">
                        <option value="">所有</option>
                        <option value="3">水工</option>
                        <option value="4">电工</option>
                        <option value="5">瓦工</option>
                        <option value="6">木工</option>
                        <option value="7">油工</option>
                        <option value="8">壮工</option>
                        <option value="9">空调工</option>                       
                    </select>
                </div>
                <div class="form-group" id="addPro">
                    <button class="btn btn-primary addPro" ng-click="showAddProcessPopup()">添加工序</button>
                </div>

            </form>
            
            <table width="100%" class="table table-hover table-striped">
                <tr>
                    <th width="5%">序号</th>
                    <th width="10%">工序名称</th>
                    <th width="5%">施工工种</th>
                    <th width="15%">验收依据</th>
                    <th width="30%">施工内容简述</th>
                    <th width="5%">单位</th>
                    <th width="15%">工程量计算规则</th>
                    <th width="15%">操作</th>
                </tr>
                <tr ng-repeat="item in data | filter:{project_name} | filter:{construction_trades}">
                    <td>{{item.serial_number}}</td>
                    <td>{{item.project_name}}</td>
                    <td>
                    {{item.construction_trades_value}}
                    </td>
                    <td>{{item.acceptance_basis}}</td>
                    <td>{{item.construction_description}}</td>
                    <td>{{item.unit}}</td>
                    <td>{{item.engineering_calculation_rules}}</td>
                    <td align="right" class="operationGroup">
                        <div class="">

                            <a href="javscript:void(0)" ng-click="showProcessDetailsPopup(this)" class="btn btn-info btn-xs"><i class="fa fa-eye" aria-hidden="true"></i>查看</a>
                            <a class="btn btn-success btn-xs" href="index.html#/decorationconfigdetails/?processId={{item.process_configuration_id}}"><i class="fa fa-edit" aria-hidden="true">编辑</i></a>
                            <a href="" class="btn btn-danger btn-xs"><i class="fa fa-times-circle" aria-hidden="true"></i>删除</a>
                        </div>
                    </td>
                </tr>

            </table>                  
        </div>
    </div>



