    <div class="col-md-12 decorationCraftFee" class="row" >
        <ol class="breadcrumb">
          <li>
          <a href="#">
          <i class="fa fa-home" aria-hidden="true">装修管理</i>
          </a>
          </li>
          <li>
          <a href="#">
          <i class="fa fa-angle-right" aria-hidden="true">装修配置</i>
          </a>
          </li>
          <li class="active">
          <i class="fa fa-angle-right" aria-hidden="true">工序配置</i>
          </li>
        </ol>
        <div class="alert alert-danger" role="alert" ng-if="errorMsg">
          {{errorMsg}}
        </div>        
        <div class="container-fluid craftFeeListBox"  >

            <form class=" quickSearch form-inline row" role="form">
                <div class="col-md-6">
                    <label>区域</label>
                    <div for="citySelect" class="citySelect form-group" >
                        <input type="text" name="" class="form-control citySelectInput" ng-model="name" 
                        city-code="" 
                        ng-focus="cityListShow()" 
                        ng-blur="cityListHide()"
                        ng-change="cityDefaultValSet(this)"
                        >
                        <div class="cityList" ng-show="cityListShowVal" >
                            <ul>
                                <li ng-repeat="item in cities | filter: {name}" class="citySelectItem" data-name="{{item.name}}" city-code="{{item.cityCode}}" ng-click="getCityCode(this)">
                                  {{item.name}}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div for="craft" class="craft form-group craftSelect">
                        <label>工种</label>                   
                        <select class="form-control" ng-model="pager.craftId">
                            <option value="">所有</option>
                            <option ng-repeat="craftItem in craftData" 
                                    value="{{craftItem.id}}">
                                {{craftItem.name}}
                            </option>
                        </select>
                    </div>
                <div class="form-group">
                    <button class="btn btn-default" ng-click="quickSearchFun(this)">查询</button>
                    <button class="btn btn-info" ng-click="resetInputSearch()">重置</button>
                </div>
                </div>
                <div class="col-md-4 col-md-offset-2">
                <ul class="pagination pager">
                  <li >

                    <a
                        class="previous" 
                        ng-click="test($event)" 
                        ng-class="{true: '', false: 'disabled'}[pagination.lastPageBtnActive]" >上一页
                    </a>

                    <a 
                        class="next" 
                        ng-click="test($event)"
                        ng-class="{true: '', false: 'disabled'}[pagination.nextPageBtnActive]"
                    >下一页
                    </a>

                  </li>    
                  <li>当前第<{{pagination.pageNumber}}>页</li>
                  <li>总共{{pagination.pageCount}}页</li>
                  <li>      
                    <select 
                        class="pageSelect" 
                        ng-model="currentPageNum" 
                        ng-change="test('pageNumSelect')"
                        >
                        <option ng-repeat="item in pageSelect" value='{{item}}'>{{item}}</option>
                    </select>

                  </li>
                    

                  <li>
                    {{pagination.pageSize}}
                    <select class="perPage" ng-model="pagination.pageSize" ng-change="test('perPage')">
                      <option value="20">每页20条</option>
                      <option value="40">每页40条</option>
                      <option value="60">每页60条</option>
                      <option value="80">每页80条</option>
                      <option value="100">每页100条</option>
                    </select>
                  </li>
                </ul>                
                </div>    
                {{x}}       
            </form>
                    
            <table width="100%" class="table table-hover table-striped">
                <tr>
                    <th width="5%">序号</th>
                    <th width="10%">工种</th>
                    <th width="5%">单位</th>
                    <th width="20%">地区信息价综合工作日</th>
                    <th width="10%">倍率</th>
                    <th width="25%">生命屋标准综合工日<br/>（信息价*倍率）</th>
                    <th width="10%">区域</th>
                    <th width="15%"></th>
                </tr>
                <tr ng-repeat="item in data | filter:{project_name} | filter:{construction_trades}">
                    <td>{{item.serial_number}}</td>
                    <td>{{item.trades_value}}</td>
                    <td>{{item.unit}}</td>
                    <td>{{item.work_area}}</td>
                    <td>{{item.rate}}</td>
                    <td> {{item.life_house_work}} </td>
                    <td>{{item.area}}</td>
                    <td align="right" class="operationGroup">
                        <div class="">

                            <a href="javscript:void(0)" ng-click="showProcessDetailsPopup(this)" class="btn btn-info btn-xs">查看</a>
                            <a class="btn btn-success btn-xs" href="index.html#/decorationconfigdetails/?processId={{item.process_configuration_id}}">编辑</a>
                            <a href="" class="btn btn-danger btn-xs">删除</a>
                        </div>
                    </td>
                </tr>

            </table>                  
        </div>
    </div>



