    <div class="col-md-12 decorationCraftFee" class="row" >
        <ol class="breadcrumb">
          <li>
          <a href="#">
          <i class="fa fa-home" aria-hidden="true">装修管理</i>
          </a>
          </li>
          <li>
          <a href="#">
          <i class="fa fa-angle-right" aria-hidden="true">装修配置</i>
          </a>
          </li>
          <li class="active">
          <i class="fa fa-angle-right" aria-hidden="true">工序配置</i>
          </li>
        </ol>
        <div class="alert alert-danger" role="alert" ng-if="errorMsg">
          {{errorMsg}}
        </div>        
        <div class="container-fluid craftFeeListBox"  >

            <form class=" quickSearch form-inline row" role="form">
                <div class="col-md-6">
                    <label>区域</label>
                    <div for="citySelect" class="citySelect form-group" >
                        <input type="text" name="" class="form-control citySelectInput" ng-model="name" 
                        city-code="" 
                        ng-focus="cityListShow()" 
                        ng-blur="cityListHide()"
                        ng-change="cityDefaultValSet(this)"
                        >
                        <div class="cityList" ng-show="cityListShowVal" >
                            <ul>
                                <li ng-repeat="item in cities | filter: {name}" class="citySelectItem" data-name="{{item.name}}" city-code="{{item.cityId}}" ng-click="getCityCode(this)">
                                  {{item.name}}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div for="craft" class="craft form-group craftSelect">
                        <label>工种</label>                   
                        <select class="form-control" ng-model="terms.craftId">
                            <option value="">所有</option>
                            <option ng-repeat="craftItem in craftData" 
                                    value="{{craftItem.id}}">
                                {{craftItem.name}}
                            </option>
                        </select>
                    </div>
                <div class="form-group">
                    <button class="btn btn-default quickSearchCheck" ng-click="pageFun($event)">查询</button>
                    <button class="btn btn-info resetQuickSearchItem" ng-click="pageFun($event)">重置</button>
                    <button class="btn btn-primary" ng-click="addWorkerType()" >添加工种</button>
                </div>
                </div>
                <div class="col-md-4 col-md-offset-2">
                <ul class="pagination pager">
                  <li >

                    <a
                        class="previous" 
                        ng-click="pageFun($event)" 
                        ng-class="{true: '', false: 'disabled'}[pagination.lastPageBtnActive]" >上一页
                    </a>

                    <a 
                        class="next" 
                        ng-click="pageFun($event)"
                        ng-class="{true: '', false: 'disabled'}[pagination.nextPageBtnActive]"
                    >下一页
                    </a>

                  </li>    
                  <li class="pagerInfo">当前第<b>{{pagination.pageNumber}}</b>页</li>
                  <li class="pagerInfo">总共<b>{{pagination.pageCount}}</b>页</li>
                  <li>      
                    <select 
                        class="pageSelect" 
                        ng-model="currentPageNum" 
                        ng-change="pageFun('pageNumSelect')"
                        >
                        <option ng-repeat="item in pageSelect" value='{{item}}'>{{item}}</option>
                    </select>

                  </li>
                  <li>
                    <select class="perPage" ng-model="pagination.pageSize" ng-change="pageFun('perPage')">
                      <option value="20">每页20条</option>
                      <option value="40">每页40条</option>
                      <option value="60">每页60条</option>
                      <option value="80">每页80条</option>
                      <option value="100">每页100条</option>
                    </select>
                  </li>
                </ul>                
                </div>    
                {{x}}       
            </form>
                    
            <table width="100%" class="table table-hover table-striped decorationCraftFeeList">
                <tr>
                    <th width="5%">序号</th>
                    <th width="10%">工种</th>
                    <th width="5%">单位</th>
                    <th width="20%">地区信息价综合工作日</th>
                    <th width="10%">倍率</th>
                    <th width="25%">生命屋标准综合工日<br/>(信息价*倍率)</th>
                    <th width="10%">区域</th>
                    <th width="15%"></th>
                </tr>
                <tr ng-repeat="item in data | filter:{project_name} | filter:{construction_trades}" id="tr_{{$index}}">
                    <td>{{item.serial_number}}</td>
                    <td>{{item.trades_value}}</td>
                    <td>{{item.unit}}</td>
                    <td>
                        <div class="">{{item.work_area}}</div>
                        <input type="text" name="work_area" id="work_area_{{$index}}" value="{{item.work_area}}" class="work_area inputEditActive" data="{{item.work_area}}">
                    </td>
                    <td>
                        {{item.rate}}
                        <input type="text" class="rate inputEditActive" name="rate" value="{{item.rate}}" id="rate_{{$index}}" data= "{{item.rate}}">
                    </td>
                    <td> {{item.life_house_work}} </td>
                    <td>{{item.area}}</td>
                    <input type="hidden" id="labor_expense_statement_id_{{$index}}" name="labor_expense_statement_id_{{$index}}" value ='{{item.labor_expense_statement_id}} '>
                    <td align="right" class="operationGroup">
                        <div class="operation">
                            <a class="btn btn-success btn-xs" 
                                ng-click="craftFeeEdit($index, $event)">
                                编辑</a>
                            
                            <a  class="btn btn-primary btn-xs quickEditSave" 
                                id="quickEditSave_{{$index}}"
                                
                                ng-click="craftFeeEditSave($event, $index)"
                                >
                                保存</a>
                            <a  class="btn btn-primary btn-xs inputEditCancel" 
                                
                                ng-click="craftFeeEditCancel($index, $event)">
                                取消</a>    
                        </div>
                    </td>
                </tr>

            </table>                  
        </div>
    </div>



