<header class="navbar navbar-static-top bs-docs-nav navbar-fixed-top">
    <div class="col-md-2">
        <h2 class="logo">
        <img src="../img/logo.png"></h2>
    </div>
    <div class="col-md-10">
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        
          <ul class="nav navbar-nav">  
          {{name}}          
			<li ng-repeat="item in topNav">
				<a ui-sref="dashboard.{{item.id}}" ui-sref-active="active" name="{{item.id}}"> {{item.text}} </a>
			</li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="" ><i class="fa fa-bell" aria-hidden="true"></i>任务提示</a></li>
            <li><a href="" ><i class="fa fa-calendar-check-o" aria-hidden="true"></i>系统信息</a></li>
            <li><a href="" ><i class="fa fa-cog" aria-hidden="true"></i>个人管理</a></li>
          </ul>
        </nav>                           
    </div>
</header>