<div class="col-md-12 callCenterRecords" class="row"  >
    <ol class="breadcrumb">
      <li>
      <a href="#">
      <i class="fa fa-home" aria-hidden="true">装修管理</i>
      </a>
      </li>
      <li>
      <a href="#">
      <i class="fa fa-angle-right" aria-hidden="true">客服记录</i>
      </a>
      </li>

    </ol>
	<div class="alert alert-danger" role="alert" ng-if="errorMsg">
	  {{errorMsg}}
	</div>  

	<div>
		<form  class="form-inline" role="form">
		  <div class="form-group">
		    <label  for="">服务人员</label>
		    <input type="email" class="form-control" id="servicer" placeholder="服务人员">
		  </div>
		  <div class="form-group">
		    <label for="">呼入号码</label>
		    <input type="password" class="form-control" id="" placeholder="呼入号码">
		  </div>
		  <div class="form-group">
		    <label for="">客服人员</label>
		    <input type="password" class="form-control" id="" placeholder="客服人员">
		  </div>
		  <div class="form-group">
		    <label for="">工种</label>
			<select>
				<option></option>
			</select>
		  </div>		  
		  <button type="button" class="btn btn-info">查询</button>
		  <button type="button" class="btn btn-primary">重置</button>			
		</form>
	<div>
		<table>
			<thead>
				<tr>
					<td class="recordId">记录编号</td>
					<td class="servicer">服务人员</td>
					<td class="callIn">呼入号码</td>
					<td class="timeIn">来电时间</td>
					<td class="timeOut">通话时长</td>
					<td class="followTime">跟进次数</td>
					<td class="">客服人员</td>
					<td ng-bind-html="craftListHtml"></td>
				</tr>
			</thead>
		</table>
	</div>	
	</div>	  
</div>