<div class="col-md-12 callCenterRecords" class="row">
    <ol class="breadcrumb">
      <li>
      <a href="#">
      <i class="fa fa-home" aria-hidden="true">装修管理</i>
      </a>
      </li>
      <li>
      <a href="#">
      <i class="fa fa-angle-right" aria-hidden="true">装修配置</i>
      </a>
      </li>
      <li class="active">
      <i class="fa fa-angle-right" aria-hidden="true">工序配置</i>
      </li>
    </ol>
	<div class="alert alert-danger" role="alert" ng-if="errorMsg">
	  {{errorMsg}}
	</div>    
</div>