
<div class="productsDetailsCont" ng-show="showActive">
	<div class="row">
		{{productDetailData.materialConfigurationlId}}
		<div class="col-md-6">
			
			<ul class="list-group">
				<li>
					<span>商品名称</span>
					<p>{{productDetailData.name}}</p>
				</li>
				<li>
					<span>商品编号</span>
					<p>{{productDetailData.materialCode}}</p>
				</li>
				<li>
					<span>商品型号</span>
					<p>{{productDetailData.model}}</p>
				</li>
				<li>
					<span>商品分类</span>
					<p>{{productDetailData.dataMap.level1Name}} - {{productDetailData.dataMap.level2Name}} - {{productDetailData.dataMap.level3Name}}</p>
				</li>
				<li>
					<span>商品品牌</span>
					<p>{{productDetailData.brandName}}</p>
				</li>
				<li>
					<span>商品供应商</span>
					<p>{{productDetailData.dataMap.supplierName}}</p>
				</li>															
			</ul>
		</div>

		<div class="col-md-6">
			<ul class="list-group">
				<li>
					<span>商品单价</span>
					<p>{{productDetailData.price}}</p>
				</li>

				<li>
					<span>商品单位</span>
					<p>{{productDetailData.unit}}</p>
				</li>
				<li>				
					<span>商品规格</span>
					<p>{{productDetailData.specifications}}</p>
				</li>
				<li>
					<span>设计师</span>
					<p>{{productDetailData.roleName}}</p>
				</li>				
				<li>
					<span>施工阶段</span>
					<p>{{productDetailData.dataMap.materialLabel}}</p>
				</li>
				<li>
					<span>添加人</span>
					<p>{{productDetailData.createName}}</p>
				</li>
				<li>
					<span>添加时间</span>
					<p>{{productDetailData.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</p>
				</li>
				<li>
					<span>备注</span>
					<p>{{productDetailData.remark}}</p>
				</li>															
			</ul>		
		</div>

	</div>

	<div class="imageList">
		<h4>商品图片</h4>
		<ul class="">
			<li>
				<img src="http://placehold.it/150x150">
			</li>
			<li>
				<img src="http://placehold.it/150x150">
			</li>
			<li>
				<img src="http://placehold.it/150x150">
			</li>
			<li>
				<img src="http://placehold.it/150x150">
			</li>
			<li>
				<img src="http://placehold.it/150x150">
			</li>												
		</ul>
		
	</div>

	<div class="btnGroup">

		<button class="btn btn-primary" ng-click="editActive=true;showActive = false">
			编辑
		</button>

		<button class="btn btn-default" ng-click="remove(productDetailData.materialConfigurationlId)">
			删除
		</button>

		<button class="btn btn-default" ng-click="detailShow('detailShow')">
			关闭
		</button>

	</div>	

</div>

<div class="prodcutDetailsEdit" ng-show="editActive">
	
	<form method="post" name="productDetails" id="productDetails" ng-submit="saveEdit()">	
		<div class="row" >
			
			<div class="col-md-6">
				
				<ul class="list-group">
					<li>
						<span>商品名称</span>
						<p>
						<input type="text" 
						class="form-control" 
						value="{{details.name}}" 
						ng-model="details.name"
						name="name"></p>
					</li>
					<li>
						<span>商品编号</span>
						<p>
							<input type="text" class="form-control" 
							value="{{productDetailData.materialCode}}" 
							name="materialCode">
						</p>
					</li>
					<li>
						<span>商品型号</span>
						<p>
							<input type="text" value="{{productDetailData.model}}" name="model" class="form-control">
						</p>
					</li>
					<li>
						<span>商品分类</span>
							<p>						

								<select ng-model="cat.level1.level" name="level1" ng-change="catChange(1, cat.level1.level)">
									<option ng-repeat="item in cat.level1.data" data="{{item.ddKey}}" value="{{item.ddId}}" >
										{{item.ddValue}}
									</option>

								</select>

								<select name="level2" ng-model="cat.level2.level" ng-change="catChange(2, cat.level2.level)">
									<option ng-repeat="item in cat.level2.data" data="{{item.level}}" value="{{item.ddId}}" >
										{{item.ddValue}}
									</option>
								</select>

								<select name="level3" ng-model="cat.level3.level" ng-change="catChange(3, cat.level3.level)">
									<option ng-repeat="item in cat.level3.data" data="{{item.level}}" value="{{item.ddId}}" >
										{{item.ddValue}}
									</option>
								</select>

							</p>
					</li>

					<li>

						<span>商品品牌</span>
						<p>
						<select ng-model="details.brandCode" class="form-control">
							<option ng-repeat="item in brandList" value="{{item.material_brand_id}}">{{item.ch_name}}</option>
						</select>{{details.brandName}} - {{details.brandCode}}
						
					</li>
					<li>
						<span>商品供应商</span>
						<p>
						
							<select class="form-control" name="supplier" ng-model="details.supplier">
								<option ng-repeat="item in supplier" value="{{item.supplier_id}}">{{item.supplier_name}}</option>
							</select>
						</p>
					</li>															
				</ul>
			</div>

			<div class="col-md-6">
				<ul class="list-group">
					<li>
						<span>商品单价</span>
						<p>	
							<input class="form-control" ng-model="details.price"  type="text" value="{{details.price}}" name="price">

						</p>
					</li>
					<li>
						<span>商品单位</span>
						<p>
							<input class="form-control"  type="text" value="{{productDetailData.unit}}" name="standard">
						</p>
					</li>					
					<li>
						<span>商品规格</span>
						<p>
							<input class="form-control"  type="text" value="{{details.specifications}}" name="standard">
						</p>
					</li>

					<li>
						<span>设计师</span>
						<p>
							<select ng-model="details.roleCode">
								<option ng-repeat="item in getRole" value="{{item.id}}">{{item.name}}</option>
							</select>
						</p>
					</li>					
					<li>
						<span>施工阶段</span>
						<p>
						<span ng-repeat="item in allLabels" >

							<input  type="checkbox" value="{{item.ddKey}}" id="{{item.ddId}}" name="label" ng-checked="{{item.selected}}"> {{item.selected}}
							<label for="{{item.ddId}}">{{item.ddValue}}</label>
						</span>

						</p>
					</li>

					<li>
						<span>备注</span>
						<p>
							<input type="text" class="form-control"  value="{{details.remark}}" ng-model="details.remark" name="remark">
						</p>
					</li>															
				</ul>		
			</div>

		</div>

		<div class="imageList">
			<h4>商品图片</h4>
			<ul class="">
				<li>
					<img src="http://placehold.it/150x150">
				</li>
				<li>
					<img src="http://placehold.it/150x150">
				</li>
				<li>
					<img src="http://placehold.it/150x150">
				</li>
				<li>
					<img src="http://placehold.it/150x150">
				</li>
				<li>
					<img src="http://placehold.it/150x150">
				</li>												
			</ul>
			
		</div>

		<div class="btnGroup">

			<button class="btn btn-primary" type="submit">
				保存
			</button>

			<button class="btn btn-default" ng-click="detailShow('detailShow')">
				关闭
			</button>

		</div>
	</form>	
</div>
			
