<!DOCTYPE html>
<html>
<head>
	<title>

	</title>

	<link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../css/components.css">
	<link rel="stylesheet" href="../css/font-awesome.min.css">

</head>
<body>

	<div class="c_comments">
		<div class="media c_comments_cont">
		  <a class="media-left" href="#">
		    <img src="http://placehold.it/50x50" alt="...">
		  </a>
		  <div class="media-body c_comments_details">
		    <h4 class="media-heading">张佳</h4>
			<p>项目经理</p>
			<p>这个项目经理管理的不错，下次装修还找他</p>
			<div class="row">
				<div class="col-md-3">
					<span>装修综合评价：</span>
					<i  class="fa fa-star"></i>
					<i  class="fa fa-star"></i>
					<i  class="fa fa-star"></i>
					<i  class="fa fa-star"></i>
					<i class="fa fa-star-half-o"></i>
				</div>
				<div class="col-md-3">
					<span>装修质量评价：</span>
					<i  class="fa fa-star"></i>
					<i  class="fa fa-star"></i>
					<i  class="fa fa-star"></i>
					<i  class="fa fa-star"></i>
					<i class="fa fa-star-half-o"></i>
				</div>
				<div class="col-md-3">
					<span>建材质量评价：</span>
					<i  class="fa fa-star"></i>
					<i  class="fa fa-star"></i>
					<i  class="fa fa-star"></i>
					<i  class="fa fa-star"></i>
					<i class="fa fa-star-half-o"></i>
				</div>
				<div class="col-md-3">
					<span>项目经理评价：</span>
					<i  class="fa fa-star"></i>
					<i  class="fa fa-star"></i>
					<i  class="fa fa-star"></i>
					<i  class="fa fa-star"></i>
					<i class="fa fa-star-half-o"></i>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2"><span>From：业主  张楠</span></div>
				<div class="col-md-2"><span>2016-08-10 15:35:20</span></div>
			</div>
		  </div>
		</div>
	</div>

</body>
</html>