<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>设计图</title>
	<link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../css/components.css">

</head>
<body>
	<div class="c_blueprints container-fluid>
		<div class="row">
			<div class="col-md-2">
				<img src="http://placehold.it/200x160" alt="">
			</div>
			<div class="col-md-9 c_blueprints_details">
				<div class="row">
					<div class="col-md-12">
						<h3>重庆阳光100E3楼大户型装修给排水施工图</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3"><span>类型：排水施工图</span></div>
					<div class="col-md-2"><span>上传人：李浩</span></div>
					<div class="col-md-7"><span>最新更新：2016-07-25 13：01：25</span></div>
				</div>
				<div class="row">
					<div class="col-md-6"><a href="#">重庆阳光100E3楼大户型装修给排水施工图.max</a></div>
					<div class="col-md-6"><a href="#">重庆阳光100E3楼大户型装修给排水施工图.pdf</a></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>