<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>预约信息</title>
	<link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<p>预约业主：李东</p>
				<p>联系方式：13545969875</p>
				<p>房屋地址：南三环与芙蓉西路十字东南角中海凯旋门5号楼</p>
				<p>备注信息：</p>
			</div>
			<div class="col-md-6">
				<p>预约时间：2016-06-13  13:30:00</p>
				<p>建筑面积：251.33㎡</p>
				<p>装修预算：20-30万</p>
			</div>
		</div>
	</div>
</body>
</html>