<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../css/components.css">
	
</head>
<body>
	<div class="c_report_details">
		<table class="table table-bordered">
			<th colspan="7" class="tabletitle">量房记录表</th>
			<!-- Customer basic situation -->
			<tr>
				<th class=""></th>
				<td class="">量房时间：</td>
				<td class="">2016-08-10</td>
				<td class="">提交人：</td>
				<td class="">李娜</td>
				<td class="">提交时间：</td>
				<td class="">2016-08-10 15:14:18</td>
			</tr>
			<tr>
				<td class="leftmenu" rowspan="4">客户基本情况</td>
				<td class="">客户姓名：</td>
				<td class="">张楠</td>
				<td class="">性别：</td>
				<td class="">女</td>
				<td class="">联系电话：</td>
				<td class="">13845923528</td>
			</tr>
			<tr>	
				<td class="">客户年龄：</td>
				<td class="">29~38岁</td>
				<td class="">地址(楼盘)：</td>
				<td class="" colspan="3">南三环与芙蓉西路十字东南角中海凯旋门5号楼</td>
			</tr>
			<tr>	
				<td class="">户型：</td>
				<td class="">建房</td>
				<td class="">建筑面积：</td>
				<td class="">125 m*2</td>
				<td class="">使用面积：</td>
				<td class="">115 m*2</td>
			</tr>
			<tr>
				<td class="">计划投资：</td>
				<td class="">20万元 含主材</td>
				<td class="">计划装修时间：</td>
				<td class="">2015-05-12</td>
				<td class=""></td>
				<td class=""></td>
			</tr>
		

			<!-- Primary observation content  -->

			<tr>
				<td class="leftmenu" rowspan="8">首要观察内容</td>
				<td class="">房屋原结构：</td>
				<td class="">框架结构</td>
				<td class="">暖气是否需要改动：</td>
				<td class="">是</td>
				<td class="">参考意见：</td>
				<td class="">无</td>
			</tr>
			<tr>
				<td class="" rowspan="2">房屋原结构是否有缺陷之处：</td>
				<td class="" rowspan="2">是</td>
				<td class="">位置：</td>
				<td class="">卫生间</td>
				<td class="">参考意见：</td>
				<td class="">墙体开裂</td>
			</tr>
			<tr>
				<td class="">位置：</td>
				<td class="">客厅</td>
				<td class="">参考意见：</td>
				<td class="">顶面漏水</td>
			</tr>
			<tr>
				<td class="">暖气是否需要改动：</td>
				<td class="">否</td>
				<td class="">参考意见：</td>
				<td class="" colspan="3">无</td>
			</tr>
			<tr>
				<td class="">煤气是否需要改动：</td>
				<td class="">是</td>
				<td class="">参考意见：</td>
				<td class="" colspan="3">原来线路老化</td>
			</tr>
			<tr>
				<td class="">采暖方式：</td>
				<td class="">地暖</td>
				<td class="">是否已安装中央空调：</td>
				<td class="">没安装-已定制</td>
				<td class="">厨房整体橱柜是否已安装：</td>
				<td class="">已安装</td>
			</tr>
			<tr>
				<td class="">阳台墙地面是否已铺砖：</td>
				<td class="">已铺装</td>
				<td class="">厨房是否已铺砖及吊顶：</td>
				<td class="">已铺装-已吊顶-PVC</td>
				<td class="">卫生间是否已铺砖及吊顶：</td>
				<td class="">已铺装-已吊顶-PVC</td>
			</tr>
			<tr>
				<td class="">其他：</td>
				<td class="" colspan="5"></td>
			</tr>

			<!-- Green technology section -->
			
			<tr>
				<td class="leftmenu" rowspan="100">与业主沟通内容</td>
				<th colspan="6" class="trtitle">绿色科技部分</th>
			</tr>
			<tr>
				<td class="">智能家居系统：</td>
				<td class="">是</td>
				<td class="">其他：</td>
				<td class="" colspan="3"></td>
			</tr>
			<tr>
				<td class="">毛细管系统：</td>
				<td class="">是</td>
				<td class="">其他：</td>
				<td class="" colspan="3"></td>
			</tr>
			<tr>
				<td class="">置换式新风系统：</td>
				<td class="">是</td>
				<td class="">其他：</td>
				<td class="" colspan="3"></td>
			</tr>
			<tr>
				<td class="">卫生间净化水系统：</td>
				<td class=""></td>
				<td class="">其他：</td>
				<td class="" colspan="3"></td>
			</tr>
			<tr>
				<td class="">同层排水系统：</td>
				<td class=""></td>
				<td class="">其他：</td>
				<td class="" colspan="3"></td>
			</tr>
			<tr>
				<td class="">隔声减噪系统：</td>
				<td class=""></td>
				<td class="">其他：</td>
				<td class="" colspan="3"></td>
			</tr>
			<tr>
				<td class="">垃圾处理系统：</td>
				<td class=""></td>
				<td class="">其他：</td>
				<td class="" colspan="3"></td>
			</tr>
			<!-- The entrance section -->
			<tr>
				<th colspan="6" class="trtitle">玄关部分(门厅)</th>
			</tr>
			<tr>
				<td class="">是否介意入门直观全室：</td>
				<td class="">否</td>
				<td class="">是否有考虑安排：</td>
				<td class="" colspan="3">衣柜、橱柜</td>
			</tr>
			<tr>
				<td class="">玄关设计是否考虑其他文化属性或气氛：</td>
				<td class="" colspan="5"></td>
			</tr>
			<tr>
				<td class="">对玄关有无其他要求：</td>
				<td class="" colspan="5"></td>
			</tr>
			<tr>
				<td class="">入户门更换为霍曼品牌：</td>
				<td class=""></td>
				<td class="">其他：</td>
				<td class="" colspan="3"></td>
			</tr>


			<!-- Living room section -->
			<tr>
				<th colspan="6" class="trtitle">客厅部分</th>
			</tr>
			<tr>
				<td class="">客厅的主要功能：</td>
				<td class="">会客、休息</td>
				<td class="">接待客人：</td>
				<td class="">3</td>
				<td class="">接待频率：</td>
				<td class="">偶尔</td>
			</tr>
			<tr>
				<td class="">是否与餐厅融为一体：</td>
				<td class="">否</td>
				<td class="">客厅内的视听设备有哪些：</td>
				<td class="">家庭影院</td>
				<td class="">规格：</td>
				<td class="">偶尔</td>
			</tr>
			<tr>
				<td class="">客人来家中聚会的内容：</td>
				<td class="">Party</td>
				<td class="">其他：</td>
				<td class="" colspan="3"></td>
			</tr>
			<tr>
				<td class="">音像制品有多少：</td>
				<td class="">无</td>
				<td class="">是否需要特别设置：</td>
				<td class="">否</td>
				<td class="">客厅的基本色调：</td>
				<td class="">暖色系</td>
			</tr>
			<tr>
				<td class="">对客厅地面材料要求：</td>
				<td class="">复合地板</td>
				<td class="">是否需要有影视墙：</td>
				<td class="">否</td>
				<td class="">是否需要吊顶：</td>
				<td class="">是 直线</td>
			</tr>
			<tr>
				<td class="">对客厅有无特别的灯光设计要求：</td>
				<td class="" colspan="5"></td>
			</tr>
			<tr>
				<td class="">是否有其他使用功能要求：</td>
				<td class="" colspan="5"></td>
			</tr>


			<!-- Restaurant Part-->
			<tr>
				<th colspan="6" class="trtitle">餐厅部分</th>
			</tr>
			<tr>
				<td class="">餐厅使用人数：</td>
				<td class="">5人</td>
				<td class="">使用频率：</td>
				<td class="">早餐、晚餐</td>
				<td class="">餐桌餐椅配置：</td>
				<td class="">1*6</td>
			</tr>
			<tr>
				<td class="">是否需要配置：</td>
				<td class="">橱柜</td>
				<td class="">有无藏酒：</td>
				<td class="">有</td>
				<td class="">餐厅是否是家人：</td>
				<td class="">是</td>
			</tr>
			<tr>
				<td class="">是否需要在餐厅看电视：</td>
				<td class="">否</td>
				<td class="">娱乐活动：</td>
				<td class="">棋牌</td>
				<td class="">其他：</td>
				<td class=""></td>
			</tr>
			<tr>
				<td class="">家庭烹饪的特点：</td>
				<td class="">中餐</td>
				<td class="">对餐厅色彩有无特殊要求：</td>
				<td class="" colspan="3"></td>
			</tr>
            <!-- Kitchen part -->

            <tr>
				<th colspan="6" class="trtitle">厨房部分</th>
			</tr>
			<tr>
				<td class="">电气设备：</td>
				<td class="" colspan="5"></td>
			</tr>
			<tr>
				<td class="">对墙、地色彩或材料的特殊要求：</td>
				<td class="" colspan="5"></td>
			</tr>
			<tr>
				<td class="">对水、电设备的特殊要求：</td>
				<td class="" colspan="5"></td>
			</tr>
			<tr>
				<td class="">对橱柜的档次、品质、品牌有任何要求：</td>
				<td class="" colspan="5"></td>
			</tr>
			<tr>
				<td class="">吊顶材料：</td>
				<td class="">防水石膏板</td>
				<td class="">照明有何要求：</td>
				<td class="" colspan="3"></td>
			</tr>

			<!-- Study section -->
			<tr>
				<th colspan="6" class="trtitle">书房部分</th>
			</tr>
			<tr>
				<td class="">书房功能：</td>
				<td class="">读书、写作</td>
				<td class="">其他：</td>
				<td class="" colspan="3"></td>
			</tr>
			<tr>
				<td class="">书房使用以何人为主：</td>
				<td class=""></td>
				<td class="">共有几人使用书房：</td>
				<td class="">3人</td>
				<td class="">使用频率：</td>
				<td class="">经常</td>
			</tr>
			<tr>
				<td class="">存数数量：</td>
				<td class="">100本</td>
				<td class="">存书种类：</td>
				<td class="">工具书</td>
				<td class="">其他：</td>
				<td class=""></td>
			</tr>
			<tr>
				<td class="">书房是否当客厅使用：</td>
				<td class="">否</td>
				<td class="">是否需要：</td>
				<td class="">网线、电话</td>
				<td class="">惯以何种方式看书：</td>
				<td class="">躺着看</td>
			</tr>
            
			<!-- Master bedroom section -->
			<tr>
				<th colspan="6" class="trtitle">主卧室部分</th>
			</tr>
			<tr>
				<td class="">对寝具的选择：</td>
				<td class="">制作</td>
				<td class="">品牌：</td>
				<td class=""></td>
				<td class="">颜色：</td>
				<td class=""></td>
			</tr>
			<tr>
				<td class="">床的要求：</td>
				<td class="">加大</td>
				<td class="">床的类型：</td>
				<td class="">金属铁艺</td>
				<td class="">是否需要梳妆台：</td>
				<td class="">是</td>
			</tr>
			<tr>
				<td class="">衣柜存衣的要求：</td>
				<td class="">大量</td>
				<td class="">储藏内容：</td>
				<td class="">衣服、鞋</td>
				<td class="">是否需要：</td>
				<td class="">视听设备</td>
			</tr>
			<tr>
				<td class="">对灯光设计有无特殊要求：</td>
				<td class="" colspan="5"></td>
			</tr>
			<tr>
				<td class="">卧室整体色彩要求：</td>
				<td class="" colspan="5"></td>
			</tr>
			<tr>
				<td class="">对墙、地色彩或材料的特殊要求：</td>
				<td class="" colspan="5"></td>
			</tr>

			<!-- Children's room -->
			<tr>
				<th colspan="6" class="trtitle">儿童房(老人房)部分</th>
			</tr>
			<tr>
				<td class="">房间使用功能及具体要求：</td>
				<td class="">独生子</td>
				<td class="">家具配置方式：</td>
				<td class="">购买</td>
				<td class="">需要的家具：</td>
				<td class="">写字台、书柜</td>
			</tr>
			<tr>
				<td class="">是否考虑年龄变更：</td>
				<td class="">是</td>
				<td class="">色彩要求：</td>
				<td class="" colspan="3"></td>
			</tr>
			<tr>
				<td class="">对墙、地色彩或材料的特殊要求：</td>
				<td class="" colspan="3"></td>
				<td class="">儿童有何兴趣爱好：</td>
				<td class="">钢琴、绘画</td>
			</tr>
			<tr>
				<td class="">是否有旧家具要保留：</td>
				<td class="">是</td>
				<td class="">色调：</td>
				<td class=""></td>
				<td class="">尺寸/材质</td>
				<td class=""></td>
			</tr>
			<tr>
				<td class="">老人是否需要特殊的生理方面的考虑：</td>
				<td class="" colspan="3"></td>
				<td class="">特殊灯光要求：</td>
				<td class="">地脚灯</td>
			</tr>
			<tr>
				<td class="">请注明儿童的年龄、性别、玩具及书籍的数量：</td>
				<td class="" colspan="5"></td>
			</tr>



			<!-- Room section -->

			<tr>
				<th colspan="6" class="trtitle">客房部分</th>
			</tr>

			<tr>
				<td class="">房间的使用功能及使用频率：</td>
				<td class="" colspan="5"></td>
			</tr>
			<tr>
				<td class="">家居配置：</td>
				<td class="" colspan="5"></td>
			</tr>
			<tr>
				<td class="">是否需要：</td>
				<td class=""></td>
				<td class="">其他：</td>
				<td class=""></td>
				<td class="">有无特殊灯光要求</td>
				<td class="">双控开关</td>
			</tr>
			<tr>
				<td class="">房间有无特殊装饰要求：</td>
				<td class="" colspan="3"></td>
				<td class="">是否需要储藏功能：</td>
				<td class="">是</td>
			</tr>



			<!-- Toilet section -->
			<tr>
				<th colspan="6" class="trtitle">卫生间部分</th>
			</tr>

			<tr>
				<td class="">卫生间的色彩倾向：</td>
				<td class="">暖色</td>
				<td class="">对墙、地色彩或材料的特殊要求：</td>
				<td class="" colspan="3"></td>
			</tr>
			<tr>
				<td class="">洁具的颜色、档次、品质、品牌：</td>
				<td class="" colspan="5"></td>
			</tr>
			<tr>
				<td class="">冷热水系统的改造要求：</td>
				<td class="" colspan="5"></td>
			</tr>
			<tr>
				<td class="">灯光的具体要求：</td>
				<td class="" colspan="5"></td>
			</tr>



			<!-- balcony part -->
			<tr>
				<th colspan="6" class="trtitle">阳台部分</th>
			</tr>
			<tr>
				<td class="">是否需要封闭阳台：</td>
				<td class="">是</td>
				<td class="">材料：</td>
				<td class="" colspan="3">铝合金</td>
			</tr>
			<tr>
				<td class="">功能要求：</td>
				<td class="" colspan="3">健身、储物</td>
				<td class="">其他：</td>
				<td class=""></td>
			</tr>
			<tr>
				<td class="">所有外窗更换为旭格品牌：</td>
				<td class="" colspan="3">是</td>
				<td class="">其他：</td>
				<td class=""></td>
			</tr>


			<!-- Supplementary part -->
			<tr>
				<th colspan="6" class="trtitle">补充部分</th>
			</tr>
			<tr>
				<td class="">电话的数量要求：</td>
				<td class="" colspan="5"></td>
			</tr>
			<tr>
				<td class="">电脑的数量位置：</td>
				<td class="" colspan="5"></td>
			</tr>
			<tr>
				<td class="">视听设备：</td>
				<td class="" colspan="5"></td>
			</tr>
			<tr>
				<td class="">对那些地域文化感兴趣：</td>
				<td class="">亚洲其他国家</td>
				<td class="">对绘画、饰品的爱好：</td>
				<td class="">水彩画、国画</td>
				<td class="">其他</td>
				<td class=""></td>
			</tr>
			<tr>
				<td class="">是否有个人品需要展示：</td>
				<td class="">否</td>
				<td class="">对室内绿化有何要求：</td>
				<td class=""></td>
				<td class="">是否养宠物：</td>
				<td class=""></td>
			</tr>
			<tr>
				<td class="">对家居风格的喜好：</td>
				<td class=""></td>
				<td class="">对服装色彩有何喜好：</td>
				<td class="" colspan="3"></td>
			</tr>
			<tr>
				<td class="">对家具色彩的喜好：</td>
				<td class="">复合材料</td>
				<td class="">平时从事何种体育项目：</td>
				<td class=""></td>
				<td class="">有什么运动器械：</td>
				<td class=""></td>
			</tr>
			<tr>
				<td class="">在设计中有何禁忌、忌讳：</td>
				<td class="" colspan="3"></td>
				<td class="">有无宗教信仰：</td>
				<td class=""></td>
			</tr>
			<tr>
				<td class="">列举你喜欢的装修风格：</td>
				<td class="" colspan="5"></td>
			</tr>
			<tr>
				<td class="">你对以前的房屋设计有何遗憾：</td>
				<td class="" colspan="5"></td>
			</tr>
			<tr>
				<td class="">有无旧家具或特殊物品的安置：</td>
				<td class="" colspan="5"></td>
			</tr>
		</table>
	</div>
</body>
</html>