<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../css/components.css">
	<link rel="stylesheet" href="../css/font-awesome.min.css">

</head>
<body>
	<div class="c_member">
		<div class="media c_member_cont">
		  <a class="media-left" href="#">
		    <img src="http://placehold.it/100x100" alt="...">
		  </a>
		  <div class="media-body c_member_details">
		    <h4 class="media-heading">李娜</h4>
			<p>业主</p>
			<p>下单时间：2016-08-04 12:15:13</p>
			<button type="button" class="btn btn-primary">联系TA</button>
		  </div>
		</div>
	</div>
</body>
</html>